body {
    background-color: rgb(29, 29, 29);
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #650077;
    font-size: 40px;
    text-align: center;
}

input {
    height: 37px;
    border: 2px solid #650077;
    background-color: #333;
    color: #eee;
    outline: none;
    width: 70%;
}

button {
    border: none;
    height: 44px;
    background-color: #650077;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #9101aa;
    height: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #4a148c;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    cursor: pointer;
}